<div id="footer" class="clear">
  <div id="footer_text" class="stacked">
    <a href="/about">About NatureWatch NZ</a> &nbsp;
    <a href="/help">Help</a> &nbsp;
    <a href="http://groups.google.com/group/nzbrn">Feedback</a> &nbsp;
    <a href="/terms.html">Terms of Service</a> &nbsp;
    <a href="/privacy.html">Privacy Policy</a> &nbsp;
    <a href="http://www.nzbrn.org.nz">Legacy NZBRN system</a> &nbsp;
    <span class="description">|&nbsp; Follow us:</span>
    <a href="http://nzbrn.blogspot.com">Blog</a> <!-- 
<span class="description">&amp;</span>
    <a href="http://twitter.com/nzbrn">Twitter</a> 
 --><span class="description">&amp;</span>
    <a href="http://www.facebook.com/nzbrn/">Facebook</a> &nbsp;
  </div>
<div>
<a href="http://www.iNaturalist.org"><img src="/images/inat-logo-pb_bird.png" alt="Powered by iNaturalist.org" width="153" height="32" border="0" align="middle"></a><br /><br />
Built by <a href="http://nzbrn.blogspot.com">NZBRN</a> with major funding from <a href="http://www.biodiversity.govt.nz/land/nzbs/tfbis/tfbis/">TFBIS</a><br />
NZ development led by <a href="http://egressive.com/">egressive</a>
</div>
</div>
<!--
  <div>
    <a href="http://itunes.apple.com/us/app/iNaturalist/id421397028?mt=8"><img src="/images/apple_app_store.png"></a> &nbsp;
    <a href="https://market.android.com/details?id=org.iNaturalist.android"><img src="/images/android_market.png"></a>
  </div>
-->
</div>
<%- if is_mobile_device? && @mobilized -%>
  <div class="flash notice">
    <%= link_to "Mobile view available", toggle_mobile_path, :id => "mobiletogglelink" %>
  </div>
<% end -%>
